.mainContentWrapper {
  margin-top: 2em;
}

.homepageHeader {
  color: #3c3091;
  font-family: 'Hedvig Letters Serif', serif;
}

a {
  color: #3c3091;
}

hr {
  background-color: var(--accent-color);
  height: 3px;
  position: relative;
  z-index: -1;
}

p {
  font-size: 20px;
  text-align: justify;
}

.mainContent {
  /* top: 0;
  bottom: 0; */
}

.contentColumn {
  bottom: 0;
}

.leftContentColumn {
  border-right: 1.5px solid var(--accent-color);
  padding-right: var(--homepage-col-padding-amount);
}

.rightContentColumn {
  padding-left: var(--homepage-col-padding-amount);
}