.mainContentWrapper {
  margin-top: 2em;
}

.homepageHeader {
  color: #3c3091;
  font-family: 'Hedvig Letters Serif', serif;
}

body {
  overflow: hidden;
}

a {
  color: #3c3091;
}

hr {
  background-color: var(--accent-color);
  height: 3px;
  position: relative;
  z-index: -1;
}

p {
  font-size: 20px;
  text-align: justify;
}

.headerTransition-enter {
  opacity: 0;
}

.headerTransition-enter-active {
  opacity: 1;
  transition: opacity 1200ms linear;
}

.headerHrTransition-enter {
  margin-right: 100%;
}

.headerHrTransition-enter-active {
  margin-right: 0%;
  transition: margin-right 1200ms ease-in-out;
}

.leftColTransition-enter {
  margin-top: 10%;
  opacity: 0;
}

.leftColTransition-enter-active {
  margin-top: 0%;
  opacity: 1;
  transition: margin-top 800ms ease-in-out, opacity 1500ms linear;
}

.rightColTransition-enter {
  margin-top: 10%;
  opacity: 0;
  visibility: hidden;
}

.rightColTransition-enter-active {
  margin-top: 0%;
  opacity: 1;
  transition: margin-top 800ms ease-in-out 200ms, opacity 1500ms linear 200ms;
  visibility: visible;
}

.middleSeparatorTransition-enter {
  margin-top: 50%;
  margin-bottom: 50%;
  opacity: 0;
}

.middleSeparatorTransition-enter-active {
  margin-top: 0%;
  margin-bottom: 0%;
  opacity: 1;
  transition: 
    margin-top 1000ms ease-in-out 500ms, 
    margin-bottom 1000ms ease-in-out 500ms,
    opacity 1400ms ease-in-out;
}

.middleSeparator {
  padding: 0;
  width: 1.75px;
  background-color: var(--accent-color);
}

.contentColumn {
  bottom: 0;
}

.leftContentColumn {
  padding-right: var(--homepage-col-padding-amount);
}

.rightContentColumn {
  padding-left: var(--homepage-col-padding-amount);
}