.nav {
    background-color: var(--accent-color);
}

.navbar-nav a {
    color: #DBDBDB;
}

.navbar-nav a:hover {
    color: #B5B5B5;
}

.navbar-nav .nav-link.show {
    color: #F5F5F5;
}

.nav-item {
    font-size: 1.15em;
}

.nav-item:active {
    filter: brightness(0.5);
    transition: 0.2s
}

a.nav-item {
    width: 2.4em;
}

.homeImage {
    width: 100%;
    margin-right: 0.33em;
}

.homeImage:hover {
    filter: brightness(0.8);
    transition: 0.2s
}

.homeImage:active {
    filter: brightness(0.5);
    transition: 0.2s
}

.navbar-expand-sm .navbar-nav .nav-item {
    margin-right: 0.3em;
}