body {
  font-family: 'Gabarito', sans-serif;
  background-color: #EFEFEF;
}

:root {
  --accent-color: #29659e;
  --hover-color:  #EEF1F4;
  --homepage-col-padding-amount: 1.75em;
}

.App {
  text-align: center;
}

